{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testmovember</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testMovember.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ testMovember.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testmovember_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('testmovember_edit', { 'id': testMovember.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
